<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.exam.dao.BoardDAO">

<!--판매글 저장 -->

	<select id="selectOne" parameterType="int" resultType="Board">
		select * from market_board where boardnum = #{boardnum}
	</select>

	<select id="selectAll" resultType="Board">
		select * from market_board where soldout = 'N' order by boardnum desc
	</select>

	<insert id="insertOne" parameterType="Board">
		insert into market_board (boardnum, memberid, title, contents, category)
		values (boardnum_seq.nextval, #{memberid}, #{title}, #{contents}, #{category})
	</insert>
	
	<select id="selectReply" parameterType="int" resultType="Reply">
		select * from market_reply where boardnum = #{boardnum} order by replynum desc
	</select>
	
	<delete id="deleteOne" parameterType="int">
		delete from market_board where boardnum = #{boardnum}
	</delete>

	<insert id="insertReply" parameterType="Reply">
		insert into market_reply (replynum, boardnum, memberid, replytext) 
		values (replynum_seq.nextval, #{boardnum}, #{memberid}, #{replytext})
	</insert>
	
	<select id="searchAll" parameterType="hashmap" resultType="Board">
		select * from market_board
		<where>
			<if test="category == 'computer'">
			 	category like 'computer' and upper(title) like upper('%'||#{searchWord}||'%') and soldout = 'N'
			</if>
			<if test="category == 'camera'">
			 	category like 'camera' and upper(title) like upper('%'||#{searchWord}||'%') and soldout = 'N'
			</if>
			<if test="category == 'car'">
			 	category like 'car' and upper(title) like upper('%'||#{searchWord}||'%') and soldout = 'N'
			</if>
			<if test="category == 'all'">
			 	upper(title)like upper('%'||#{searchWord}||'%') and soldout = 'N'
			</if>
		</where>
		order by boardnum desc
	</select>

	<update id="buyOne" parameterType="Board">
		update market_board set buyerid = #{buyerid}, soldout = 'Y' where boardnum = #{boardnum}
	</update>

</mapper>
