<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<meta charset="UTF-8">
<title>readForm</title>
<script type="text/javascript">

$(document).ready(function() {
	readReply();
	$("#rBt").click(insertReply);
});

function readReply() {
	let n = $("#num").val();
	$.ajax({
		url:"readReply",
		type:"get",
		data:{boardnum:n},
		dataType:"json",
		success: function(list) {
			let str ="<table>";
			
			$.each(list,function(idx,r){
				str += `<tr><td>${r.memberid}</td>
						<td>${r.replytext}</td>
						<td>${r.inputdate}</td></tr>`
			})	
			str +="</table>";
			
			$("#replyBox").html(str);
		},
		error: function(e) {
			console.log(JSON.stringify(e));
		}
	});
}

function insertReply() {
	let n = $("#num").val();
	let t = $("#inputReply").val();
	
	$.ajax({
		url:"insertReply",
		type:"post",
		data:{boardnum:n,replytext:t},
		success: function() {
			console.log("리플 입력 성공");
			readReply();
		},
		error: function(e) {
			console.log(JSON.stringify(e));
		}
	});
}
</script>
</head>
<body>

<div id="box">
<input id="num" type="hidden" th:value=${bd.boardnum}>
<table>
<tr>
	<th>작성자</th>
	<td th:text="${bd.memberid}"></td>
</tr>
<tr>
	<th>작성일</th>
	<td th:text="${bd.inputdate}"></td>
</tr>
<tr>
	<th>제목</th>
	<td th:text="${bd.title}"></td>
</tr>
<tr>
	<th>내용</th>
	<td th:text="${bd.contents}"></td>
</tr>
</table>
	<div th:if="${#authentication.name} == ${bd.memberid}">
		<a th:href="@{/board/delete}">삭제</a>
	</div>
	<div th:if="${#authentication.name} != ${bd.memberid}">
		<a th:href="@{/board/buy}">구매</a>
	</div>
</div>
	<input type="text" id="inputReply" >
	<input type="button" id="rBt" value="확인">
	
<div id="replyBox">

</div>
</body>
</html>