<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[ 판매 상품 검색 ]</title>

<!-- 제이쿼리 문 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 <!-- Ajax 스크립트 추가 -->
    <script>
        function pagingFormSubmit(page) {
            // 폼 데이터 가져오기
            var formData = $('#pagingForm').serialize();

            // 페이지 번호를 폼 데이터에 추가
            formData += '&page=' + page;

            // Ajax 요청 보내기
            $.ajax({
                type: "GET",
                url: "list", // 실제 엔드포인트 URL로 업데이트해야 합니다.
                data: formData,
                success: function(data) {
                    // 성공 시, 테이블 본문에 검색 결과 업데이트
                    $('#searchResults').html(data);
                },
                error: function(xhr, status, error) {
                    // 필요에 따라 에러 처리
                    console.error(error);
                }
            });
        }
    </script>

</head>
<body>
	<h1>[ 판매 상품 검색 ]</h1>

	
	<!-- 검색폼 -->
	<table>
	<tr>
	<form id="pagingForm" method="get" th:action="@{/board/list}">
		 <input type="hidden" name="page" id="page" />
		 <select id="type" name="type">
			<option value="title" th:selected="${type} == 'all'">전체</option>
			<option value="contents" th:selected="${type} == 'computer'">컴퓨터 및 주변기기</option>
			<option value="memberid" th:selected="${type} == 'camera'">카메라</option>
			<option value="all" th:selected="${type} == 'car'">자동차 용품</option>
		</select>
		 <input type="text"  name="searchWord" th:value="${searchWord}">
		 <input type="button" onclick="pagingFormSubmit(1)" value="검색">
	</form>
	</tr>
   </table>
        
        	
	<table>
	 	<tr>
        	<td>번호</td>
        	<td>카테고리</td>
        	<td>제목</td>
           
        </tr>
        
        <tr th:each="board : ${list}">
            <td th:text="${board.boardnum}"></td>
            <td th:text="${board.category}"></td>
            <td>
            	<a th:text="${board.title}" th:href ="@{/board/readForm(boardnum=${board.boardnum})}"></a>
            </td>
           
        </tr>       
            
   
    </table>
	
	
	

</body>
</html>