<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[ 판매 상품 검색 ]</title>

<!-- 제이쿼리 문 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
 <!-- Ajax 스크립트 추가 -->
    <script>
    $(document).ready(function() {
	readData();
	
	
	$("#sBox").keyup(searchData);
	
    })
        function readData() {
            
            // Ajax 요청 보내기
            $.ajax({
                url: "searchAll", // 실제 엔드포인트 URL로 업데이트해야 합니다.
                type: "GET",
                dataType: 'json',
                success: function(list) {
                    let str = "<table><tr></tr><td>번호</td><td>카테고리</td><td>제목</td>"
                    
                    $.each(list,function(idx,data){
                    	str += `<tr>
                    			<td>${data.boardnum}</td>
                    			<td>${data.category}</td>
                    			<td>${data.title}</td>
                    			</tr>`
                    });
                    
                    str += '</table>';
                    
                    $("#contentsBox").html(str);
                },
                error: function(e) {
                  
                }
            });
        }
    
    function searchData() {
         let c = $("#type").val();
         let w = $("#sBox").val();
         
        // Ajax 요청 보내기
        $.ajax({
            url: "searchBoard", // 실제 엔드포인트 URL로 업데이트해야 합니다.
            type: "GET",
            data: {category: c, searchWord:w},
            dataType: 'json',
            success: function(list) {
                let str = "<table><tr></tr><td>번호</td><td>카테고리</td><td>제목</td>"
                
                $.each(list,function(idx,data){
                	str += `<tr>
                			<td>${data.boardnum}</td>
                			<td>${data.category}</td>
                			<td>${data.title}</td>
                			</tr>`
                });
                
                str += '</table>';
                
                $("#contentsBox").html(str);
            },
            error: function(e) {
            alert(JSON.stringify(e));
            }
        });
    }
    </script>

</head>
<body>
	<h1>[ 판매 상품 검색 ]</h1>

	
	<!-- 검색폼 -->
	<table>
	<tr>
	<form>
		 <input type="hidden" name="page" id="page" />
		 <select id="type" name="type">
			<option value="all" id="all" >전체</option>
			<option value="computer" id="computer" >컴퓨터 및 주변기기</option>
			<option value="camera" id="camera" >카메라</option>
			<option value="car" >자동차 용품</option>
		</select>
		 <input type="text" id="sBox" name="searchWord" >
	</form>
	</tr>
   </table>
        
   <div id="contentsBox">

   </div>
	
	

</body>
</html>