<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>soldHome</title>
</head>
<body>
	<h1>[ 판매 정보 게시판 ]</h1>
	
	<p sec:authorize="isAuthenticated()">
	<a th:href="@{/board/soldEnroll}"> 판매글 등록 </a></p>
	
	<table>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
		</tr>
		
		<tr th:each="board : ${list}">
            <td th:text="${board.boardnum}"></td>
            <td>
            	<a th:text="${board.title}" th:href ="@{/board/readForm(boardnum=${board.boardnum})}"></a>
            </td>
            <td th:text="${board.memberid}" ></td>
        </tr>     
	</table>
	
</body>
</html>